<h1 class="text-center text-dark my-4">人気映画一覧</h1>

<div class="container-fluid px-lg-5">
  <div class="row">
    <!--検索バー↓-->
    <%= render 'shared/searchbar' %>


    <!--映画一覧↓-->
    <div class="col-lg-9">
      <div class="row">
        <% @movies.each_with_index do |movie, index| %>
          <%= render 'shared/movie_card', movie: movie, index: index, column_classes: 'col-lg-2 col-md-4 col-sm-6 mb-4' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--ページネーション↓-->
<%= render 'shared/pagination' %>

<!--一つの検索要素を使用中は他の検索欄が無効化↓-->
<script>
$(document).ready(function() {
  $('#keyword_field').on('input', function() {
    if ($(this).val()) {
      $('.genre-radio').prop('disabled', true);
      uncheckAll();
    } else {
      $('.genre-radio').prop('disabled', false);
    }
  });

  $('.genre-radio').on('change', function() {
    if (this.checked) {
      $('#keyword_field').prop('disabled', true);
    } else {
      $('#keyword_field').prop('disabled', false);
    }
  });
});

function uncheckAll() {
  let radios = document.getElementsByClassName('genre-radio');
  for(let i = 0, length = radios.length; i < length; i++) {
    radios[i].checked = false;
    radios[i].parentNode.classList.remove('active');
  }
  $('#keyword_field').prop('disabled', false);
}

$(document).ready(function() {
  $('#clear_keyword').on('click', function() {
    $('#keyword_field').val('');
    $('.genre-radio').prop('disabled', false);
    uncheckAll();
  });
});

$(document).ready(function() {
  $('#search_button').on('click', function(event) {
    if (!$('#review_keyword_field').val()) {
      event.preventDefault();
    }
  });

  $('#review_clear_keyword').on('click', function() {
    $('#review_keyword_field').val('');
    $('.genre-radio').prop('disabled', false);
    uncheckAllReview();
  });
});
</script>