<h1 class="text-center text-dark my-4">検索結果一覧</h1>

<div class="mx-auto">
  <div class="row justify-content-center">
    <% @movies.each_with_index do |movie, index| %>
      <%= render 'shared/movie_card', movie: movie, index: index, column_classes: 'col-lg-2 col-md-3 col-sm-4 mb-4' %>
    <% end %>
  </div>
</div>

<!--ページネーション↓-->
<%= render 'shared/pagination' %>