/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap/scss/bootstrap';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-link {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 4px;
  text-decoration: none;
  color: #333;
//   border-radius: 20px; 検討する
  transition: background-color 0.3s;
}

.pagination-link.active {
  background-color: #333;
  color: #fff;
}

.pagination-link.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.pagination-ellipsis {
  margin: 0 4px;
  color: #999;
}

#review-button {
  position: fixed;
  bottom: 0;
  right: 0;
}